@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }

  .dark {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
